---
title: TIY Houston 2015 Q2 Rails
---


<div class="intro-text">
  <h2>TIY Houston Rails Engineering</h2>
  <h4>Houston 2015 - Q2</h4>
  <p>Gear Up. Be Creative. Allways be learning</p>
</div>

<ul class="bullets">
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
" alt="">
    </div>
    <div class="bullet-content">
      <h2>Location</h2>
      <p>
        4203 Montrose Blvd, Suite 100<br/>
        Houston, TX 77006<br/>
      </p>
      </div>
  </li>
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Syllabus</h2>
      <p>Includes Late policy, attendence, homework, and your behavior during class. <a href="/syllabus.html">Read On</a>.</p>
    </div>
  </li>
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Emoji Help</h2>
      <ul>
        <li><a href="http://www.emoji-cheat-sheet.com/">GitHub Emoji Cheat Sheet</a></li>
        <li><a href="http://unicodeemoticons.com/">Unicode Emoticons</a></li>
        <li><a href="http://www.wikihow.com/Use-Emoji-Icons-in-Mac-Os-X-Lion">How to Use Emoji Icons in Mac Os X Lion</a></li>
      </ul>
    </div>
  </li>
</ul>
